<template>
  <div id="app" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  import utils from './utils/utils'

  let that
  export default {
    name: 'App',
    sockets: {
      msgError: (msg) => {
        console.log('ERROR SERVER: ' + msg)
        utils.mensajeError(that, msg)
      },
      enviarRuta: (data) => {
        console.log('Cambio de ruta desde el servidor :"' + data.path + '"')
        that.$router.push( data.path )
        that.$route.params.pathMatch
      },
      reiniciar: () => {
        location.reload()
      }
    },
    created() {
      that = this
    }
  }
</script>

<style>

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 96%;
    height: auto;
    min-height: 95vh;
    position: absolute;
    left: 2%;
    top: 2.5vh;
    border: solid black;
    border-radius: 20px;
  }

</style>
