<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <div id="cabecera" class="row">
            <h1 class="text-white rounded mx-auto">SALA DE ESPERA: {{this.idSala}}</h1>
            <span v-on:click="copiarSala" style="font-size: 250%;">
              <i class="far fa-copy text-white"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h2 class="text-white">Jugadores</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <ul class="col-6 list-unstyled">
          <li v-for="item in jugadores">
            <div id="divJugador" class="bg-light text-dark col-8 mx-auto rounded-pill">{{item.nombre}}</div>
          </li>
        </ul>
        <div class="col-3" id="botonEmpezar">
          <button :disabled="!isCreador" v-on:click="empezar" class="btn btn-outline-light btn-circle btn-x1">Empezar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  let that
  import utils from "../../utils/utils"

  export default {
    name: "Espera",
    data: () => {
      return {
        jugadores: [],
        isCreador: false
      }
    },
    props: ['idSala'],
    sockets: {
      setJugadores: (data) => {
        that.jugadores = data
      },
      isCreador: (data) => {
        console.log('respuesta de se creador:' + data.isCreador)
        that.isCreador = data.isCreador
      },
      empezarPartida: () => {
        that.$router.push()
        that.$route.params.pathMatch
      }
    },
    created() {
      that = this
      this.$socket.emit('isCreador')
    },
    methods: {
      empezar() {
        var parmas = {
          idSala: this.idSala
        }
        this.$socket.emit('empezarPartida', parmas)
      },
      copiarSala() {
        let temporal = document.createElement("input");
        document.body.appendChild(temporal);
        temporal.setAttribute("id", "idTemporal");
        document.getElementById("idTemporal").value = this.idSala;
        temporal.select();
        document.execCommand("copy");
        document.body.removeChild(temporal);

        utils.mensajeCopiarSala(this, "Código de sala copiado")
      }
    }
  }
</script>

<style scoped>
  #cabecera{
    margin: 5%;
  }

  #divJugador {
    margin-bottom: 2%;
    font-size: 150%;
  }


  .btn-circle {
    width: 100px;
    height: 130px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 120%;
    line-height: 1.42857;
  }

  #botonEmpezar {
    position: absolute;
    bottom: 10%;
    right: 0%
  }

  h1{
    font-size: 300%;
  }

</style>
