<template>
  <div>
    <h1 class="text-white">HUMANIDAD CONTRA LAS CARTAS</h1>
    <Avisador id="avisador"></Avisador>
    <CartaNegra :mensaje="cartaNegra.mensaje"></CartaNegra>
    <Contenedor :entrada="cartasAMostrar" @eleccion="elegir($event)"/>
  </div>
</template>

<script>
  import Contenedor from '../../components/Contenedor'
  import CartaNegra from "../../components/CartaNegra";
  import Temporizador from '../../components/Temporizador'
  import Avisador from "../../components/Avisador";

  let that
  export default {
    name: "partida",
    props:['ganador'],
    components: {
      Avisador,
      CartaNegra,
      Contenedor,
      Temporizador
    },
    created() {
      that = this
      this.$socket.emit('sincronizarEstado', {estado: 'inicioPartida'})
    },
    destroyed(){
      this.cartas = []
    },
    sockets: {
      setCartas(data) {
        //Simpre una carta seleccionada
        data[0].seleccionada = true
        that.cartas.push(...data)
        that.mostrarCartas(that.cartas)
        that.$socket.emit('sincronizarEstado', {estado: 'inicioSeleccion'})
      },
      setCartaNegra (data){
        /// TODO REVISAR A FUTURO
        that.cartaNegra = data
      },
      cuantasCartasTienes (){
        var params = {
          numCartas: that.cartas.length
        }
        that.$socket.emit('getCartas', params)
      },
      getCartaSeleccionada() {
        that.$socket.emit('getCartaSeleccionada', that.cartaSeleccionada)
        that.cartas = that.cartas.filter(aux => aux.id !== that.cartaSeleccionada.id)
        that.cartaSeleccionada = null
        that.$socket.emit('sincronizarEstado',{estado:'finSeleccion'})
      },
      getCartaVotada() {
        that.$socket.emit('getCartaVotada',that.cartaSeleccionada)
        that.cartasVotadas = []
        that.cartaSeleccionada = null
        that.$socket.emit('sincronizarEstado',{estado:'finVotacion'})
      },
      setCartasVotacion(data) {
        that.cartasVotadas = data
        //Simpre una carta seleccionada
        data[0].seleccionada = true
        that.mostrarCartas(that.cartasVotadas)
        that.$socket.emit('sincronizarEstado', {estado: 'inicioVotacion'})
      },

    },
    data() {
      return {
        cartas: [],
        cartaNegra: {},
        cartasVotadas: [],
        cartasAMostrar: [],
        cartaSeleccionada: null,
      }
    },
    methods: {
      elegir(evento) {
        this.cartaSeleccionada = this.cartasAMostrar.filter(aux => aux.id === evento.id)[0]
      },
      mostrarCartas(cartas) {
        this.cartasAMostrar = JSON.parse(JSON.stringify(cartas))
      }
    }
  }
</script>

<style scoped>
  h1{
    margin-top: 0.5%;
  }

</style>
