<template>
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-9 mx-auto">
        <div id="cabecera" class="row justify-content-center">
          <h1 class="mx-auto">PUNTUACIONES</h1>
          <span v-on:click="irInicio" style="font-size: 250%;">
            <i class="fas fa-home"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" >
      <table class="table-striped rounded col-8 bg-secondary text-center">
        <thead>
        <tr>
          <th class="col-4">NOMBRE</th>
          <th class="col-3">PUNTUACIÓN</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in jugadores">
          <td class="col-4">{{item.nombre}}</td>
          <td class="col-3">{{item.puntos}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
  let that
  export default {

    name: "puntuaciones",
    sockets:{
      finPartida(data){
        this.setJugadores(data)
      }
    },
    created(){
      that=this
    },
    methods: {
      irInicio(){
        location.reload()
      },
      setJugadores(data){
        this.jugadores=[data.length]
        for(var i=0;i<data.length;i++){
          var jugador = {nombre:data[i], puntos:data[i+1]}
          this.jugadores.push(jugador);
          i++
        }
        console.log(this.jugadores)
      }
    },
    data: () => {
      return {
        jugadores:[],
        nombre:'',
        puntos:null
      }
    }
  }
</script>

<style scoped>
  #cabecera{
    margin: 5%;
  }

  span{
    margin-left: 10%;
  }

  table{
    font-size: 125%;
  }

  h1{
    font-size: 300%;
  }

</style>
