<template>
  <div>
    <!--:backgroundColor="#ffffff"-->
    <loading :is-full-page="true"
             :active.sync="isLoading"
             :width="64"
             :height="64"
             :opacity="0.5"
             :zIndex="999">
    </loading>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import utils from '../../utils/utils'
  // Import component
  import Loading from 'vue-loading-overlay';
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css';

  let that
  export default {
    name: "sala",
    data() {
      return {
        isLoading: false
      }
    },
    props: ['idSala','isCreador'],
    components: {
      Loading
    },
    created() {
      // Para unirse a la sala
      // this.$router.push('/sala/' + this.idSala) // idSala = id de la partda a la que se va a unir
      // this.$route.params.pathMatch

      that = this
      this.isLoading = true
      if(this.isCreador){
        this.$socket.emit('crearSala')
      }else{
        var params = {
          id: this.idSala
        }
        this.$socket.emit('unirSala', params)
      }
    },
    sockets: {
      dentroSala: (data) => {
        that.isLoading = false
        if (data.id !== that.idSala) {
          window.history.length > 1
            ? that.$router.go(-1)
            : that.$router.push('/')
          utils.mensajeError(that, 'No ha sido posible entrar en la sala')
        }
      },
      noDentroSala: () => {
        that.isLoading = false
      }
    }
  }
</script>


<style scoped>

</style>
