<template>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="text-center text-white mx-auto">{{titulo}}</h1>
        </div>
      </div>
      <div class="border text-white " v-if="seen">
        <div class="row justify-content-center">
          <div class="col-sm">
            <label class="text-center">{{msgNombre}}</label>
            <input v-model="nombreV" @keyup.enter="entrarOcrear">
          </div>
        </div>
        <div class="row justify-content-center" v-if="seen2">
          <div class="col-sm">
            <label class="text-center">{{msgSala}}</label>
            <input v-model="idSala" @keyup.enter="entrarOcrear">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm">
            <button v-on:click="entrarOcrear" class="btn btn-outline-light btn-circle btn-x1">Jugar</button>
          </div>
        </div>
      </div>
      <Contenedor :entrada="botones" @eleccion="elegir($event)"></Contenedor>
      </div>

</template>

<script>
  import Contenedor from "../components/Contenedor";
  import Avisador from "../components/Avisador";
  let that
    export default {
      name: "inicio",
      components: {
        Contenedor,
        Avisador
      },
      sockets: {
        idSalaCreada: (data) => {
          that.$router.push('/sala/' + data.id + '/espera')
        },
        borrarSala: () => {
          console.log('SalaBorrada')
          that.$socket.emit('reconnection')
          that.jugadores = []
          that.idSala = ''
        }
      },
      created() {
        // TODO: IMPORTANTE METER ESTO EN LA VENTAN DE INICIOOOO
        that = this
        console.log('Create')
        this.$socket.emit('reconnection')
      },
      methods: {
        elegir(obj) {
          if (obj.id === 1) {
            //mostrar nombre
            console.log("Has pulsado ", obj.mensaje)
            this.seen=true;
            this.seen2=true;
          } else if (obj.id === 2) {
            //mostrar nombre y sala
            console.log("Has pulsado ", obj.mensaje)
            this.seen=true;
            this.seen2=false;
          }
        },
        entrarOcrear(){
          if(this.seen2){
            this.entrar();
          }else{
            this.crear();
          }
          this.nombre();
        },
        entrar() {
          var params = {
            id: this.idSala
          }
          // this.$socket.emit('unirSala',params)
          this.$router.push('/sala/' + this.idSala + '/espera')
          this.$route.params.pathMatch
        },
        crear() {
          console.log('Se va a crear una sala')
          this.$socket.emit('crearSala')
          this.isCreador = true
        },
        nombre() {
          this.$socket.emit('setNombre', {
            nombre: this.nombreV
          })
        },
        irAGanador(){
          this.$router.push('ganadorPrueba')
        }
      },
        data: () => {
          return {
            titulo: 'HUMANIDAD CONTRA LAS CARTAS',
            msgNombre: 'Nombre:',
            msgSala: 'Sala:',
            nombreV: '',
            jugadores: [],
            idSala:'',
            isCreador: false,
            botones: [
              {id: 1, mensaje: "ENTRAR", seleccionada: false},
              {id: 2, mensaje: "CREAR", seleccionada: false},
            ],
            seen:false,
            seen2:false
          }
        }
    }
</script>

<style scoped>
  .border{
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    position: relative;
    left:30%;
    border-radius: 20px;
  }

  h1{
    margin: 5%;
    font-size: 300%;
  }

</style>
