<template>
  <div class="container">
    <div class="card" >
      {{sentence}}
    </div>
  </div>
</template>

<script>
  let that
    export default {
        name: "Avisador",
      data(){
          return{
            sentence: "mensaje por defecto",
          }
      },

      created(){
          that =this;
      },

      sockets:{
        mensajeAvisador(params){
          that.fraseAviso(params.text);
        },
      },
      methods:{
         fraseAviso(s){
           this.sentence = s;
         }
      }
    }
</script>

<style scoped>
  .container{
    font-size: 200%;
    padding:10px;

  }
  .card {
    width: 1%;
    height: 10%;
    border-radius: 20px;
    background-color: rgba(255, 0, 14, 0.43);
    color: whitesmoke;
    border: solid;
    display: table-cell;
  }
</style>
