<template>
  <b-container align="center">
    <div class="blackCard">
      <div class="text">
        <p>{{mensaje}}</p>
      </div>
    </div>
  </b-container>
</template>

<script>
  export default {
    name: "CartaNegra",
    props: ['id', 'mensaje'],
    data() {
      return {
      }
    }
  }
</script>

<style scoped>
  .blackCard {
    background-color: black;
    color: white;
    width: 13vw;
    height: 18vw;
    border-radius: 20px;
    border: solid;
    display: table-cell;
  }

  .text {
    margin-top: 20%;
  }

  p{
    font-size: 150%;
  }
</style>
