<template>
  <div class="card" :class="{ select : seleccionada }" v-on:click="seleccionarCarta()">
    <div class="text">
      <p>{{mensaje}}</p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        claseSelected: "card",
      }
    },
    props: ['id', 'mensaje', 'seleccionada'],
    name: "Carta",
    methods: {
      seleccionarCarta() {
        this.$emit('selected', this)
      }
    },
    created() {
    }
  }
</script>

<style scoped>
  .card {
    width: 13vw;
    height: 18vw;
    border-radius: 20px;
    border: solid;
    display: table-cell;
  }
  .text{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  .select{
    background-color: black;
    color:white;
  }

  p{
    font-size: 150%;
  }
</style>
