<template>
  <div class="contenedor">
    <b-container v-for="(conten,index) in arrayEntrada"
                 class="container"
                 align="center"
                 :key="index">
      <Carta v-for="item in conten"
             :key="item.id"
             :id="item.id"
             :seleccionada="item.seleccionada"
             :mensaje="item.mensaje"
             @selected="seleccionarCarta($event)">
      </Carta>
    </b-container>
  </div>
</template>
<script>
  import Carta from "./Carta"

  export default {
    name: 'Contenedor',
    components: {Carta},
    props: {
      entrada: {},
    },
    data() {
      return {
        newEntrada: [],
        arrayEntrada: [],
      }
    },
    created() {
      this.dividir()
    },
    watch: {
      entrada() {
        this.dividir()
        //Arreglo temporal
        this.seleccionarCarta(this.entrada.filter(aux => aux.seleccionada)[0])
      }
    },
    methods: {
      seleccionarCarta(obj) {
        this.entrada.forEach((aux) => {
          if (aux.id === obj.id) {
            aux.seleccionada = true
          } else {
            aux.seleccionada = false
          }
          this.$emit('eleccion', obj)
        })
      },
      dividir() {
        this.arrayEntrada = []
        var m = Math.ceil(this.entrada.length / 5), j = 0, k = 5
        for (var i = 0; i < m; i++) {
          this.arrayEntrada.push(this.entrada.slice(j, k))
          j = j + 5
          k = k + 5
        }
      }
    }
  }
</script>
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
.contenedor{
  height: 100%;
}
  .container {
    max-width: 100%;
    max-height: 100%;
  }
</style>
