<template>
  <div class="container">
    <div class="alert alert-dark" role="alert">
      {{sentence}}
    </div>
  </div>

</template>

<script>
  let that
  export default {
    name: 'Temporizador',
    data() {
      return {
        sentence: "",
        gameTime: 0,
        gamePhase: "",
        intervalo: null
      }
    },
    created() {
      that = this;
      this.gameTime = 20;
    },


    sockets:{
      inicioTemporizador(params){
        that.startTimer(params.timerTime, params.gamePhase);
      },
      finTemporizador(params){
        that.endTimer(params.st)

      }
    },
    methods:{
      timerLogic(){
        console.log(this.gamePhase + this.gameTime+ "segundos");
        if(this.gameTime === 1) clearInterval(this.intervalo);
        this.sentence = this.gamePhase + ": " + (this.gameTime-1) + " segundos";
        this.gameTime--;
      },
      startTimer(t1, s1){
        this.gameTime = (t1+1);
        this.gamePhase = s1;
        this.intervalo = setInterval(this.timerLogic, 1000);
      },
      endTimer(s1){
        this.sentence = s1;
      }
    }

  }
</script>

<style scoped>
  #sentence{

  }

</style>
